<div ng-show="!loggedIn">
  <h1 style="text-align: center">CrowdData lets you access the knowledge of everyone in the world</h1>
  <br>
  <div class="center">
    <h3>Log In To CrowdData</h3>
    <form role="form" action="/login" method="post">
      <div class="form-group label-floating">
        <label class="control-label" for="username-input">Username</label>
        <input type="text" name="username" id="username-input" class="form-control"/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="password-input">Password</label>
        <input type="password" name="password" id="password-input" class="form-control"/>
      </div>
      <button type="submit" class="btn btn-raised btn-lg btn-primary btn-block">Login</button>
    </form>
    <button class="btn btn-raised btn-lg btn-primary btn-block" ng-click="gotoSignUp()">Sign Up</button>
  </div>
</div>
<div ng-show="loggedIn">
  <h1>You are logged in!</h1>
  {{survey}}<br>
  <div class = "questions" ng-repeat = "question in questions">
  	<li>{{question}}
  </div>
<form>
	
</form>

  <button ng-click = "logout()"> Log Out </button>
</div>