<div ng-show="!loading">
  <div ng-show="!loggedIn">
    <h1 style="text-align: center">CrowdData lets you access the knowledge of everyone in the world</h1>
    <br>
    <div class="center">
      <h3>Log In To CrowdData</h3>
      <form role="form" ng-submit="submitLoginForm()">
        <div class="form-group label-floating">
          <label class="control-label" for="username-input">Username</label>
          <input type="text" ng-model="loginForm.username" id="username-input" class="form-control"/>
        </div>
        <div class="form-group label-floating">
          <label class="control-label" for="password-input">Password</label>
          <input type="password" ng-model="loginForm.password" id="password-input" class="form-control"/>
        </div>
        <div class="form-group has-error" ng-show="invalidInputs">
          <label class="control-label">Invalid Username or Password</label>
        </div>
        <button type="submit" class="btn btn-raised btn-lg btn-default btn-block">Login</button>
      </form>
      <button class="btn btn-raised btn-lg btn-primary btn-block" ng-click="goTo('/signup')">Sign Up</button>
    </div>
  </div>

  <div ng-show="loggedIn">
    <div class="card card-content">
      <h3 class="card-title"> Here's a survey!</h3>
      	<form class="form-group card-body label-floating">
      		<div ng-repeat="q in survey.questions" >
      	  	<h4>{{q.content}}</h4>

            <div ng-if='q.type === "MC"'>
              <div ng-repeat="response in q.responses" class="answers">
                  <input type="radio" ng-model="q.selectedResponse" name="Q{{q.id}}" value="{{response}}" id="{{q.id}}{{$index}}"/>
                  <label for = "{{q.id}}{{$index}}">{{response}}</label> 
              </div>            
            </div>

            <div ng-if='q.type === "IO"'>
              <div ng-repeat="response in q.responses" class="answers"> 
                  <input type="radio" ng-model="q.selectedResponse" name="Q{{q.id}}" value="{{response}}" id="{{q.id}}{{$index}}"/>
                  <label for = "{{q.id}}{{$index}}">{{response}}</label> 
              </div>            
            </div>

            <div ng-if='q.type === "FR"'>
                <div class="form-group label-floating" class="answers">
                  <input class="form-control" id="{{q.id}}" ng-model="q.selectedResponse" type="text" name="Q{{q.id}}" ng-value="{{q.id}}">
              </div>
            </div>

      	  </div>
      	  <input type="submit" value="Submit" class="btn btn-primary" ng-click="submitAnswers()"/>
      	</form>
    </div>
  </div>
</div>
  
<div ng-show="loading">
  <h1>{{loadingText}}</h1>
  <div class="showbox">
      <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
          </svg>
      </div>
  </div>
</div>
