<div class="tooltips-group center">
  <h2> Let's make a survey! </h2>

  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Right<div class="ripple-container"></div></button>

  <div class="form-group label-floating">

    <!-- tooltips work in jsfiddle: http://jsfiddle.net/8dfwcL98/ -->

    <label class="control-label" for="surveyTitle">Title</label>
    <input class="form-control" id="surveyTitle" type="text" data-toggle="tooltip"
      data-placement="right" title data-original-title="This won't be shown to users. It is for your reference only.">
    <!-- <input type="text" name="username" placeholder="Enter Username" class="form-control"/> -->
  </div>
  <div class="input-field">
    <label class="control-label" for="surveyHypothesis">Hypothesis</label>
    <textarea class="form-control" id="surveyHypothesis" length="120"></textarea>
    <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
    <!-- <input type="text" name="username" placeholder="Enter Username" class="form-control"/> -->
  </div>
  <div class="form-group label-floating">
    <h5>Type of Survey</label>
    <form>
      <p>
        <input name = "surveyType" class="with-gap" id="surveyType1" type="radio">
        <label for="surveyType1">Health</label>
      </p>
      <p>
        <input name = "surveyType" class="with-gap" id="surveyType2" type="radio">
        <label for="surveyType2">Ethnography</label>
      </p>
      <p>
        <input name = "surveyType" class="with-gap" id="surveyType3" type="radio">
        <label for="surveyType3">Opinion</label>
      </p>
    </form>
    <!-- <input type="text" name="username" placeholder="Enter Username" class="form-control"/> -->
  </div>
  <div class="btn-toolbar">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Single toggle </button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Single toggle </button>
<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Single toggle </button>
  </div>
<div>
