<div class="card card-content form-horizontal">
  <div class="card-body">
    <h2 class="card-title"> Let's make a survey! </h2>
    <br>
    <div class="form-group label-floating">
      <br>
      <label class="control-label" for="surveyTitle">Title</label>
      <br>
      <p class="text-danger" ng-show="missingTitle">*You will want a title to reference this survey later*</p>
      <input class="form-control" id="surveyTitle" ng-model="Setup.title" type="text" ng-focus="typingTitle=true; missingTitle=false" ng-blur="typingTitle=false" maxlength="75">
        <small class="text-muted" ng-show="typingTitle">This won't be shown to users. It is for your reference only.</small>
    </div>
    <br>
    <div class="input-field form-group label-floating">
      <label class="control-label" for="surveyHypothesis">Hypothesis</label>
      <br>
      <br>
      <p class="text-danger" ng-show="missingHypothesis">*The hypothesis is a note to your future self hinting at what to look for in the data*</p>
      <textarea class="form-control" id="surveyHypothesis" ng-model="Setup.hypothesis" length="120" ng-focus="typingHypo=true; missingHypothesis=false" ng-blur="typingHypo=false" maxlength="150"></textarea>
      <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
      <small class="text-muted" ng-show="typingHypo">We will show you this along with your data to help you remember what you want to find out.</small>
    </div>
    <div class="form-group label-floating">
      <h3>What category do you think your survey falls into?</h3>
      <p class="text-danger" ng-show="missingCategory">*A category helps us organize and present the survey to survey takers*</p>
      <form>
        <br>
        <div class="form-group">
          <div class="radio">
            <label for="Health">
              <input name = "surveyType" class="with-gap" type="radio" value="Health" ng-model="Setup.category" ng-click="missingCategory=false" id="Health">
              Health
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label for="Ethnography">
              <input name = "surveyType" class="with-gap" type="radio" value="Ethnography" ng-model="Setup.category" ng-click="missingCategory=false" id="Ethnography">
              Ethnography
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label for="Opinion">
              <input name = "surveyType" class="with-gap" type="radio" value="Opinion" ng-model="Setup.category" ng-click="missingCategory=false" id="Opinion">
              Opinion
            </label>
          </div>
        </div>
        </div>
      </form>
    </div>

    <h3>What aspects of your user do you think are needed to test your hypothesis? (none are required)</h3>
    <form>
      <br>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model = "Setup.demographics.age"><span class="checkbox-material"></span> Age</input>
          </label>
        </div>
        <p class="help-block">For example: 13 years old, 56 years old</p>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model = "Setup.demographics.area"><span class="checkbox-material"></span> Area of Residence</input>
          </label>
        </div>
        <p class="help-block">For example: Boston, MA</p>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model = "Setup.demographics.gender"><span class="checkbox-material"></span> Gender</input>
          </label>
        </div>
        <p class="help-block">For example: cis female, demiguy</p>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"  ng-model = "Setup.demographics.nationality"><span class="checkbox-material"></span> Nationality</input>
          </label>
        </div>
        <p class="help-block">For example: Egyptian, Cantonese</p>
      </div>

    <h3>How many questions will your survey have?</h3>
    <span class="btn-group" role="group" aria-label="plusMinus">
      <h2>
        &emsp; <span> {{Setup.numOfQuestions}} </span> &emsp; &emsp;
        <button type="button" class="btn btn-secondary" ng-click="addQ()"><i class="material-icons">add</i></button>
        <button type="button" class="btn btn-secondary" ng-click="removeQ()" ng-disabled="!canRemoveQ"><i class="material-icons">remove</i></button>
    </h2></span>
    <p>
      <small class="text-danger" ng-show="tooManyQ"> We recommend using five or less questions.
        If you feel like you need more, we suggest simplifying your hypothesis. </small>
    </p>
    <p class="text-danger" ng-show="missingStuff">^It looks like one or more bits of info still need to be populated!</p>
    <div>
      <a href="javascript:void(0)" class="btn btn-raised btn-secondary" ng-click = "go('/newsurvey/getting_started')">cancel<div class="ripple-container"></div></a>
      <button type="submit" class="btn btn-raised btn-primary" ng-click = "sProgress()">Populate questions<div class="ripple-container"></div></button>
    </div>
  </div>
</div>
