
<div class="card form-horizontal">
  <div class="card-body">
    <h2 class="card-title"> So, you want to make a survey?</h2>

      <h4>On the next page, we will ask you some initial details about your survey. To
      make sure your survey is as awesome as can be, we ask you things like title,
      hypothesis, and number of questions to make sure you have a good idea about
      what information you are looking for before you start populating questions.</h4>

    <div>
      <a href="javascript:void(0)" class="btn btn-raised btn-secondary" ng-click = "go('/')">No Thanks<div class="ripple-container"></div></a>
      <button type="submit" class="btn btn-raised btn-primary" ng-click = "go('/newsurvey/setting_up')">Yeah!<div class="ripple-container"></div></button>
    </div>
  </div>
</div>;
