<!DOCTYPE html>
<html ng-app ="crowddata">
  <head>
    <meta charset="utf-8">
    <title>Crowdata</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.css"> -->

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
    <!-- <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css"> -->
    <link rel="stylesheet" type="text/css" href="dist/css/ripples.css">
    <link rel="stylesheet" type="text/css" href="dist/css/custom.css">


    <script type="text/javascript" src="dist/js/arrive.js"></script>
    <script type="text/javascript" src="dist/js/material.js"></script>
    <script type="text/javascript" src="dist/js/ripples.js"></script>

    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div class="container">
    	<div class="row header" ng-controller="headerController">
            <div class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand clickable" ng-click="goTo('/')">
                      <img src="../media/crowdataLogo.png" width = "50vw">
                  </a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav">
                    <li><a class="clickable" ng-click="goTo('/about')">About CrowData</a></li>
                    <li><a class="clickable" ng-click="goTo('/')" ng-show="loggedIn">Take a Survey</a></li>
                    <li><a class="clickable" ng-click="goTo('/newsurvey/getting_started')" ng-show="loggedIn">Create a Survey</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)" ng-show="loggedIn">{{user.name}}</a></li>
                    <li><a class="clickable" ng-show="loggedIn" ng-click="logout()">Logout</a></li>
                    <li><a class="clickable" ng-show="!loggedIn" ng-click="goTo('signup')">Sign Up</a></li>
                  </ul>
                </div>
              </div>
            </div>
    	</div>
    	<div class="row pageContent">
            <div ng-view>
            </div>
        </div>
    </div>
  </body>
</html>
